
<li class='order-box' style='list-style: none' *ngFor="let order of orders">
    <div class="order-header">Table Number: {{order.tableNumber}}</div>

    <div *ngFor="let items of order.item | keyvalue">
    <div *ngIf="order.orderCompleted === false">
    <div class="product-description">
    <div class="prod-name">Item: {{items.value.name}}</div>

    <div class="price">$: {{items.value.cost/100}}</div>
    <div class="prod-desc">Quantity: {{items.value.quantity}}</div>
    <div class="price">Total: ${{items.value.cost/100 * items.value.quantity}}</div>
    </div>
    </div>
    </div>
    <div class="prod-name">Total Cost: ${{order.totalCost/100}}</div>

    <div class="prod-desc">{{order.timestamp?.toDate() | date: 'MMM d, y, h:mm:ss a'}}</div>
    <button>Complete Order</button>
</li>
