<div class="nav">
    <div class="inner-nav">
      
        <a routerLink='/products' routerLinkActive="active">Back To Ordering <fa-icon class="cart-icon" [icon]="shoppingCart" size="2x"></fa-icon></a>
      </div>
      </div>

<div class="product-description header">
    <div class="prod-name">Product</div>
    <div class="prod-quan">Price</div>
    <div class="price">Product Quantity</div>
    <div class="price">Total Cost</div>
    </div>
<ul style="padding: 0; margin: 0;">
    <li class="cart-list" *ngFor="let item of datas">
    <div class="prod-name">
    {{ item.itemName }} 
    </div>
    <div class="prod-quan">
        ${{ item.price }} 
        </div>
        <div class="prod-quan">
            {{ item.quantity }} 
            </div>
            <div class="price">
                ${{ item.quantity * item.price}} 

            </div>
    </li>

</ul>
<div class="checkout-buttons">
    <div class="empty-cart">
        <button mat-button class="mat-raised-button mat-warning"
        (click)="clearCart()">
        Empty Cart
        </button>
    </div>
    <div class="checkout">
        <button mat-button class="mat-raised-button mat-primary"
        (click)="purchaseCourse()" [disabled]="purchaseStarted">
        checkout
        </button>
    </div>
</div>




