<!--Nav Bar-->

    
    <div class="landing-content-container">
      <div class="landing-screen">
        <div class="top">
        <div class="product-list app-container">
          <app-item-req></app-item-req>
        </div>
        <!-- <div class="product-cart app-container">
          <app-product-cart></app-product-cart>
        </div> -->
        </div>
        <!-- <div class="bottom">
        <div class="orders app-container">
          <app-orders></app-orders>
        </div>
        </div> -->
      </div>
    </div>
     