<!--Nav Bar-->
<div class="nav">
    <div>
      Tool Bar
    </div>
    </div>
    
    
    <div class="landing-content-container">
      <div class="landing-screen">
        <div class="top">
        <div class="product-list app-container">
          <app-product-list></app-product-list>
        </div>
        <div class="product-cart app-container">
          <app-product-cart></app-product-cart>
        </div>
        </div>
        <!-- <div class="middle">
          <div class="product-cart app-container">
            <app-customer-order></app-customer-order>
          </div>
        </div> -->

        <div class="bottom">
        <div class="orders app-container">
          <app-orders></app-orders>
    
        </div>
        </div>
      </div>
    <!-- 
      <div class="landing-portfolio-container">
        <div class="landing-portfolio-item">
          <div class="portfolio-image">
            <img src="assets/img/SulleyElectrical.png">
          </div>
        </div>
        <div class="landing-portfolio-item">
          <div class="tia-portfolio-image">
            <img src="assets/img/tiaLogo.png">
          </div>
        </div> 
      </div> -->
    </div>
    