<div id="CTAFade" style="display: block;">
	<div class="callToAction fadein">
<img src='assets/rendezvous-hotel-perth-scarborough-pool-deck-02-2019-1500x500.jpg' class="hero-image lazyloaded">
<div class="pseudo">

</div>
</div>
</div>
<div class="load-menu">
<mat-tab-group>
    <mat-tab label="Beers">
        <div class="list-card">
            <h1 class="card-title">Pints</h1>
            <ul  class="item-list">
                <app-product-list ></app-product-list>

            </ul>
    </div>
    </mat-tab>